/.pio/
/.idea/
/docs/
compile_commands.json
git_rev_macro.py
sdkconfig
sdkconfig.HeltecESP32
CMakeLists.txt
.idea/inspectionProfiles/Project_Default.xml
.vscode/settings.json
.idea/IOWN_Mosto.iml
include/MQTTHelper_h
include/user_config.h
test/variousHeater
src/CMakeLists.txt
/.vscode/
/lib/
/build/
/archives/
*.org
